<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dreamhouse">
    <!-- permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.example.threedviewapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamHouse"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NewPayment"
            android:exported="false" />
        <activity
            android:name=".AddTask"
            android:exported="false" />
        <activity
            android:name=".AddMaterial"
            android:exported="false" />
        <activity
            android:name=".AddImageScreen"
            android:exported="false" />
        <activity
            android:name=".ProjectProfileScreen"
            android:exported="false" />
        <activity
            android:name=".ViewPdfActivity"
            android:exported="false" />
        <activity
            android:name=".VasthuScreen"
            android:exported="false" />
        <activity
            android:name=".Onboarding2"
            android:exported="false" />
        <activity
            android:name=".TechisScreen"
            android:exported="false" />
        <activity
            android:name=".BankLIstScreen"
            android:exported="false" />
        <activity
            android:name=".SpecificationsScreen"
            android:exported="false" />
        <activity
            android:name=".HouseTypeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".TopologiesScreen"
            android:exported="false" />
        <activity
            android:name=".ChatBot"
            android:exported="false" />
        <activity
            android:name=".LandRulesScreen"
            android:exported="false" />
        <activity
            android:name=".OnboardingScreen"
            android:exported="false"
            android:theme="@style/Theme.DreamHouse.NoActionBar" />
        <activity
            android:name=".VendorsActivity"
            android:exported="false" />
        <activity
            android:name=".HousesdisplayScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false"
            android:theme="@style/Theme.DreamHouse.NoActionBar" />
        <activity
            android:name=".FloorPlansScreen"
            android:exported="false" />
        <activity
            android:name=".MyHistory"
            android:exported="false" />
        <activity
            android:name=".BotScreen"
            android:exported="false" />
        <activity
            android:name=".SoilTestScreen"
            android:exported="false" />
        <activity
            android:name=".ProjectUpdate"
            android:exported="false"
            android:label="@string/title_activity_project_update"
            android:theme="@style/Theme.DreamHouse.NoActionBar" />
        <activity
            android:name=".BudgetAnalysis"
            android:exported="false" />
        <activity
            android:name=".BudgetScreen"
            android:exported="false" />
        <activity android:name=".NewProject" />
        <activity android:name=".ProjectProgress" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>